---
import LayoutProjects from '../layouts/LayoutProjects.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<LayoutProjects title="CoinChat - Chat de criptomonedas">
  <main>

   

    <SectionContainer id='home'>
      <div class="flex flex-col md:flex-row items-center justify-center mb-3 py-10">	
        <img
        src="/images/coinChat.png"
        class="rounded-full ring-2 ring-blue-500 p-1 w-64 h-64 md:mr-4 mb-4 md:mb-0 md:size-20"
        alt="CoinChat foto" />
      </div>

      <h2 class="text-2xl text-white opacity-80 text-center m-2">
        <span class="text-yellow opacity-80">CoinChat</span>
        Bot de telegram. Siempre ofreciendo
        <span class="text-blue-500 opacity-80">el 100% en cada proyecto. </span>
      </h2>

    <div/>
    </SectionContainer>

    <SectionContainer id="videoYT">
      <h2
      class="text-white/80 text-3xl ml-2 font-semibold  flex gap-x-3 items-center"> 
      Video CoinChat
      </h2>
      <div class="flex justify-center items-center m-5">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/_ZRYsgugog4"
          title="Explicacio Bot CoinChat"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="rounded-lg">
        </iframe>
      </div>
      


  </main>
        