---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import AboutMe from '../components/AboutMe.astro';
import Timeline from '../components/Timeline.astro';
import Projects from '../components/Projects.astro';

---

<Layout title="Portfolio de Luis - Developer">
	<main>

		<SectionContainer id='home'>
			<div class="flex flex-col md:flex-row items-center justify-center mb-3 py-10">	
				<img
						src="/images/luis.PNG" 
						class="rounded-full ring-2 ring-blue-500 p-1 w-32 h-32 md:mr-4 mb-4 md:mb-0 md:size-20"
						alt="Luis foto" />
				
				<h1 class="text-white text-5xl font-bold text-center md:text-left">Hola, soy Luis</h1>
		</div>
		
				
		<h2 class="text-2xl text-white opacity-80 text-center m-2">Desarrollador JR Multiplataforma. <span class="text-red-500 	opacity-80">📍Barcelona, España.</span> Siempre ofreciendo
			 <span class="text-blue-500 opacity-80">el 100% en cada proyecto. </span>
		</h2>
		<a
			 href="https://www.linkedin.com/in/luis-alejandro-baca-palma-a61a6b2ba/"
			 target="_blank"
			 rel="noopener" 
			 class="flex justify-center items-center m-5">
				 <Badge>Disponibilidad inmediata</Badge>
			 </a>
		</SectionContainer>

		<SectionContainer id="trajectory">
			<h2
				class="text-white/80 text-3xl ml-2 font-semibold  flex gap-x-3 items-center">
				Trayectoria
			</h2>

			<Timeline/>


		</SectionContainer>

		<SectionContainer id='about'>
			<h2
				class="text-white/80 text-3xl ml-2 font-semibold mb-6 flex gap-x-3 items-center">
				Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2
				class="text-white/80 text-3xl ml-2 font-semibold mb-10 flex gap-x-3 items-center">
				Proyectos
			</h2>

			<Projects />


		</SectionContainer>

	</main>
</Layout>