---
import LayoutProjects from '../layouts/LayoutProjects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import ReturnBtn from '../components/ReturnBtn.astro';
import GitHub from '../components/icons/GitHub.astro';
---

<LayoutProjects title="LetterList - Generador de Cartas">
  <main>

   

    <SectionContainer id='home'>
      <div class="flex flex-col md:flex-row items-center justify-center mb-3 py-10">	
        <img
        transition:name="img-Letterlist"
        src="/images/mid.png"
        class="rounded-full ring-2 ring-blue-500 p-1 w-64 h-64 md:mr-4 mb-4 md:mb-0 md:size-20"
        alt="LetterList logo" />
      </div>

      <h2 class="text-2xl text-white opacity-80 text-center m-2">
        <span class="text-mid opacity-80">LetterList</span>
        Pagina Web. Siempre ofreciendo
        <span class="text-blue-500 opacity-80">el 100% en cada proyecto. </span>
      </h2>

      <a
			 href="https://github.com/PromileDev/LetterList.git"
			 target="_blank"
			 rel="noopener" 
			 class="flex justify-center items-center m-5">
				 <Badge>
          <GitHub />
           Code
        </Badge>
			 </a>

    <div/>
    </SectionContainer>

    <SectionContainer id="videoYT">
      <h2
      class="text-white/80 text-3xl ml-2 font-semibold  flex gap-x-3 items-center"> 
      Video LetterList
      </h2>
      <div class="flex justify-center items-center m-5">
        <iframe
          width="560"
          height="315"
          src=""
          title="Explicacio LetterList"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="rounded-lg">
        </iframe>
      </div>

      <div class="flex justify-center py-20">
        <ReturnBtn />
      </div>
      
      


  </main>
        