
<section class="text-white m-2  flex flex-col md:flex-row gap-8 justify-center items-center">

  <div class="[&>p]:mb-4 [&>p>strong]:text-blue-600 order-2 md:order-1">

  <p>
    ¡Soy Luis!, aunque también me llaman Ale. Desde pequeño disfrutaba resolviendo problemas lógico-matemáticos, y aprendí que hay más de un método para cada operación. Ahora, <strong>desarrollar es una operación más para disfrutar</strong>.
  </p>
  
  <p>
    Mi enfoque está en la mejora continua. Soy una persona con convicción, que busca <strong>lo mejor para sí mismo y para quienes le rodean</strong>, siempre dispuesto a ayudar y escuchar en cualquier ámbito.
  </p>

  <p>
    Actualmente, me encuentro en <strong>búsqueda de prácticas</strong> y de un lugar donde pueda continuar mi camino en el desarrollo. Una vez finalizado el CFGS de DAM, estudiaré inglés y ampliaré mis conocimientos en nuevas tecnologías.
  </p>
  
  </div>

</section>

