---
import Link from './icons/Link.astro';
---

<div class="w-full max-w-xs rounded-lg overflow-hidden shadow-lg bg-white">

  <iframe class="w-full scale-110 transition-all duration-300 hover:scale-100" width="560" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mt-2 mb-2 text-bgColor hover:text-blue-600">
      <a href="https://github.com/luis-code17/CinemaJava.git" target="_blank" rel="noopener noreferrer">
        <Link />
        Gestión de Cine en Java
      </a>
    </div>
    <p class="text-gray-700 text-base">
      Proyecto de gestión de cine en Java con versión interfaz gráfica y en consola. Funciones de añadir, modificar y eliminar películas, salas y sesiones. Creo que es el proyecto más interesante, se podría mejorar usando una base de datos o guardando en un archivo. Pero esto se verá en futuros proyectos de segundo año.
    </p>
  </div>
</div>