---
const currentYear = new Date().getFullYear()
---

<footer
  class="bg-gray-800/90 w-full opacity-80 mt-16 mx-auto flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <span class="text-sm sm:text-center text-white">
      ©{currentYear}
      <a href="https://portfolio-luis-baca.netlify.app" class="hover:underline">Luis Baca.</a>
    </span>
    <div class="flex flex-col items-center mt-3 md:mt-0">
      <span class="text-sm text-white">lbacapalma@gmail.com</span>
    </div>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium md:mt-0">
      <li class="flex items-center">
        <a href="/#about" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li class="flex items-center me-4">  <!-- Añadido margen derecho -->
        <a id="contacto" href="mailto:lbacapalma@gmail.com" class="hover:underline">Contacto</a>
      </li>
      <li class="flex items-center">
        <a href="LuisBaca_CV.pdf" download class="hover:underline">CV</a>
      </li>
    </ul>
  </div>
</footer>




