
---

---

<nav id="navbar" class="hidden md:block bg-transparent w-full fixed top-0 z-50">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-4">
    <div id="navbar-text" class="bg-opacity-80 transition-colors duration-450 block p-2 md:p-3 md:w-auto flex justify-between items-center bg-transparent rounded-full" id="navbar-default">
      <ul class="w-full font-medium flex p-0 mt-0 border-0 flex-row md:space-x-8 rtl:space-x-reverse md:items-center md:justify-between">
        <li class="pl-2">
          <a href="#home" class="block py-2 px-3 text-white rounded bg-transparent text-blue-500 md:p-0 hover:text-blue-500" >Inicio</a>
        </li>
        <li>
          <a href="#trajectory" class="block py-2 px-3 text-white rounded md:hover:bg-transparent md:border-0 hover:text-blue-500 md:p-0">Trayectoria</a>
        </li>
        <li>
          <a href="#about" class="block py-2 px-3 text-white rounded md:hover:bg-transparent md:border-0 hover:text-blue-500 md:p-0">Sobre mí</a>
        </li>
        <li class="pr-2">
          <a href="#projects" class="block py-2 px-3 text-white rounded md:hover:bg-transparent md:border-0 hover:text-blue-500 md:p-0">Proyectos</a>
        </li>
      <!-- 
        <li>
          <a href="#" class="block py-2 px-3 text-white rounded md:hover:bg-transparent md:border-0 hover:text-blue-500 md:p-0">Experiencia</a>
        </li>
      -->
      </ul>
    </div>
  </div>
</nav>

<style>
  #navbar-text {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  #navbar-text {
    @apply bg-gray-800/90;
  }

  @keyframes nav-shadown {
    0% {
      @apply bg-gray-800/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style>