---
import GitHub from './icons/GitHub.astro';
 interface Props {
  url: string;
  title: string;
  description: string;
  github: string;
}
const { url, title, github, description, } = Astro.props;
---

<div class="w-full max-w-xs rounded-lg overflow-hidden shadow-lg bg-gray-800">
  <iframe class="w-full scale-110 transition-all duration-300 hover:scale-100" width="560" height="315" src={url} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="px-6 py-4">
    <div class="flex items-center font-bold text-xl mt-2 mb-2 text-orange hover:text-yellow">
      <a href={github} target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
        <GitHub /> 
        {title}
      </a>
    </div>
    <p class="text-gray-300 text-base">
      {description}
    </p>
  </div> 
</div>